#T1{
    font-family: 'Cambria', Courier, monospace;
    color: rgb(52, 50, 165);
    background-color: rgb(300, 100, 100);
   width: 300px;
}

#img2{
    border: solid rgb(202, 10, 10);
width: 600px;
height: 300px;

}
#ST1{
    width: 300px;
    border: solid blue;
}