body{
    background-color: rgb(20, 20, 20);
}
#T1{
    font-family: 'Cambria', Courier, monospace;
    color: rgb(0, 179, 250);
    display: flex;
    margin-left: 32%;
}
.img3 {
    border-radius: 30px;
    border: solid red;
    width: 900px;
    height: 450px;
}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
.cabeza{
    border-radius: 10px;
    background-color: red;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    font-family: 'Cambria', Courier, monospace;
}
.enlace1{
    color: rgb(0, 0, 0);
}
.parrafos{
    color: aliceblue;
    font-family: 'Candara','Calibri','Cambiar';
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
}
.enl1{
    margin-left: auto;
    margin-right: 10px;
}
.enl2{
    margin-right: 10px;
}
.barraBusqueda{
    order: -1;
    margin-left: 30px;
}
.lupa{
    order: -1;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}
.piePag{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: rgb(3, 3, 59);
    color: azure;
}
