body{
    background-color: rgb(20, 20, 20);
}
h2{
    color: aliceblue;
}
h3{
    color: aliceblue;
}
#T1{
    font-family: 'Cambria', Courier, monospace;
    color: rgb(0, 179, 250);
    display: flex;
    margin-left: 32%;
}

#img2{
    border-radius: 20px;
    border: solid rgb(202, 10, 10);
width: 550px;
height: 300px;
}
#ST1{
    width: 210px;
}
.cabeza{
    border-radius: 10px;
    background-color: red;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    font-family: 'Cambria', Courier, monospace;
    
}
.enlace1{
    color: rgb(0, 0, 0);
    
}
.enl1{
    margin-left: auto;
    margin-right: 10px;
}
.enl2{
    margin-right: 10px;
}
.barraBusqueda{
    order: -1;
    margin-left: 30px;
}
.lupa{
    order: -1;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.piePag{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: rgb(3, 3, 59);
    color: azure;
    margin-top: 18%;
}
